html {
  line-height: 1.5;
  font-family: 'Arimo', sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

h1, h2, h3 {
  font-family: 'Didact Gothic', sans-serif;
}

a {
    color: #834499;
}

.dxlogo {
	width: 150px;
}

.light-blue.lighten-1 {
    background-color: #834499!important;
}

.light-blue {
    background-color: #834499!important;
}

.section-ltpurple {
	background-color: #EFE8F7;
}

.section-purple {
	background-color: #834499;
	color: white;
}
.hm-img {
	width:100%;
	margin-bottom: -10px;
}

.questionduck {
	width:400px;
}

.puzzleduck {
	width:230px
}

@media only screen and (min-width: 601px) {
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 75px;
    }

    .dxlogo {
	width: 190px;
	padding-top: 3px;
}
}