html {
  line-height: 1.5;
  font-family: 'Arimo', sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

h1, h2, h3 {
  font-family: 'Didact Gothic', sans-serif;
}

a {
    color:#ffa900;
}

.inline {
	display:inline;
}

.btn, .btn-large {
	background-color:orange;
}

.btn:hover, .btn-large:hover {
	background-color:darkorange;
}

button:focus {
    background-color: #834499;
}

.calcborder{
	margin-bottom: 15px;
	padding:10px;
	background-color: #EFE8F7;
}

.dxcalc {
	max-width:400px;
	margin: 0 auto;
}

.font20 {
	font-size: 20px;
}

.input-field label.active {
    font-size: 1rem;
}

.ducksize {
	width: 100%;
}

.dxlogo {
	width: 150px;
}

.dxlogo-sm {
	width: 57px;
	padding-top: 3px;
}

.light-blue.lighten-1 {
    background-color: #834499!important;
}

.light-blue {
    background-color: #834499!important;
}

.section-ltpurple {
	background-color: #EFE8F7;
}

.section-purple {
	background-color: #834499;
	color: white;
}
.hm-img {
	width:100%;
	margin-bottom: -10px;
}

.questionduck {
	width:400px;
}

.puzzleduck {
	width:230px
}

<<<<<<< HEAD
.calcicon {
	height:130px;
	max-width: 100%;
}

.hidden-line {
	display:block;
}

footer.page-footer {
     margin-top: 0; 
=======
/*Form Styling*/
.select-wrapper span.caret {
    right: 15px;
}

.select-wrapper {
    position: relative;
    padding: 0 10px;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
}

.row .col.s12 {
    padding: 10px;
}

.select-wrapper input.select-dropdown {
	margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: none;
    font-family:'Arimo', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #834499;
}

.input-field label {
    color: #4e4e4e;
    }

.select-wrapper + label {
    font-size: 1.4rem;
}

.learn-more {
	font-size: 1rem;
    font-weight: bold;
    color: #721891;
    cursor: pointer;
}

a:active, a:hover {
    color: #bc44e6;
}

.modal-footer a:hover {
	color:black ;
}

.inline {
	display:inline;
>>>>>>> feature/dxcalc_design
}

@media only screen and (min-width: 601px) {
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 75px;
    }

    .dxlogo {
	width: 190px;
	padding-top: 3px;
}
	.calcborder{
	border-color:#834499;
	border-width: 5px;
	border-style: solid;
	padding:50px;
	margin: 1rem 9% 3rem;
}
.calcicon {
	height:300px;
	margin-top:23px;
}
.hidden-line {
	display:none;
}
}